.compiler-section{    height: 100%;
    display: flex;
}
.editor{
    width: 70%;
    border-right: 1px solid white;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.editor-actions{
    display: flex;
    justify-content: space-between;
    padding-inline: 10px;
    padding-top: 5px;
    align-items: center;
}
.input-output{
    display: flex;
    flex-direction: column;
    width: 30%;
}
.input{
    height: 50%;
    border-bottom: 1px solid wheat;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

.play   {
    width: 60px;
    box-sizing: border-box;
    border-radius: 10px;
    background-color:white;
    border: 1px solid var(--primary-color);
    color: black;
    cursor: pointer;
}
select,option{
    color: black;
    padding: 5px;
    outline: 0;
}
.output-section{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.output-section>p,.input>p{
    padding: 5px;
    font-size: 20px;
    border-bottom: 1px solid;
}
.output-section>div{
    padding: 5px;
}
pre{
    font-size: 20px;
    padding: 5px;
}
textarea{
    color: black;
    height: 100%;
    resize: none;
    outline: 0;
    padding: 5px;
    font-size: 20px;
}
