.invite-section{
    display: flex;
    gap: 10px;
    align-items: center;
}

.role-button{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--primary-color);
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.active{
    background-color: #14444b;
    
}